<section>
    <h2>UI Component</h2>

    <p>
        <code>$: yo angular-lazy:component name <br>[--prefix=]</code>
    </p>

    <p class="fragment" data-fragment-index="1">Generates</p>

    <ul>
        <li class="fragment" data-fragment-index="1">A reusable UI component based on Angular's component provider.</li>
    </ul>
</section>
