<section>
    <h2>Directive</h2>

    <p>
        <code>$: yo angular-lazy:directive name <br>[--prefix=]</code>
    </p>

    <p class="fragment" data-fragment-index="1">Generates</p>

    <ul>
        <li class="fragment" data-fragment-index="1">A directive intended to be used as attribute.</li>
    </ul>
</section>
